@import "theme.css";
/* Cascadia Code */
* {
    font-family: "JetBrainsMono Nerd Font:style=Bold";
    font-weight: bold;
    font-size: 12px;
          
    /*
      padding-top: 3px;
      padding-bottom: 0px;
    */

    color: #fff;
}

/* M A I N */

window#waybar {
    /* Идеально глубокий черный цвет для всего бара */
    background-color: #000000;
    
    /* Белая линия строго снизу на всю ширину монитора */
    /* border-bottom: 1px solid #ffffff; */
    
    /* Гарантированно острые, прямые углы по краям экрана */
    border-radius: 0px;
}

window#waybar > box {
    /* Убираем внешние отступы, чтобы не было серых или прозрачных дыр */
    margin: 0px;
    background-color: transparent;
    border: none;
    
    /* Внутренние отступы, чтобы текст модулей стоял красиво и не прилипал к краям */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* C E N T E R */

#disk {
    background-color: #000;
}

#memory {
    background-color: #000;
}

/*
#custom-logo {
    font-size: 20px;
    background-image: url("${config.home.homeDirectory}/.config/waybar/images/main_logo_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
*/

#cpu {
    background-color: #000;
}

#temperature {
    background-color: #000;
}

/* L E F T */

/* R I G H T */
#backlight
#pulseaudio

#pulseaudio box {
  padding: 0;
  margin: 0;
}

#battery {
  background-color: #000;
}

/* W O R K S P A C E S */
#workspaces button {
/* Это критически важно: обнуляем встроенную высоту GTK */
    win-height: 0;
          
    /* Убираем вертикальные отступы, которые дают лишние пиксели */
    padding-top: 0;
    padding-bottom: 0;
          
    /* Ограничиваем внешние границы */
    margin-top: 0;
    margin-bottom: 0;
}

#workspaces {
    /* Убираем отступы у самого контейнера */
    margin: 0;
    padding: 0;
}
