@import "theme.css";
@import "modules/left.css";
@import "modules/right.css";
@import "modules/center.css";

* {
    font-family: "JetBrainsMono Nerd Font:style=Bold";
    font-weight: bold;
    font-size: 12px;
          
    /*
      padding-top: 3px;
      padding-bottom: 0px;
    */

    color: #fff;
}

/* M A I N */

window#waybar {
    /* Идеально глубокий черный цвет для всего бара */
    background-color: #000000;
    
    /* Белая линия строго снизу на всю ширину монитора */
    /* border-bottom: 1px solid #ffffff; */
    
    /* Гарантированно острые, прямые углы по краям экрана */
    border-radius: 0px;
}

window#waybar > box {
    /* Убираем внешние отступы, чтобы не было серых или прозрачных дыр */
    margin: 0px;
    background-color: transparent;
    border: none;
    
    /* Внутренние отступы, чтобы текст модулей стоял красиво и не прилипал к краям */
    /*
    padding-left: 40px;
    padding-right: 40px;
    */
    padding-top: 4px;
    padding-bottom: 4px;
}


/* С Т А Р Ь Ё */
/*
#custom-logo {
    font-size: 20px;
    background-image: url("${config.home.homeDirectory}/.config/waybar/images/main_logo_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
*/

