include "input.kdl"
include "output.kdl"
include "./hotkeys/hotkeys_windows.kdl"
include "./hotkeys/hotkeys_apps.kdl"
include "./hotkeys/hotkeys_hardware.kdl"
include "./hotkeys/hotkeys_scripts.kdl"
include "autostart.kdl"
include "window_rules.kdl"
include "layout.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


animations {
    off
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"
