/* Общее окно */
window {
    background-color: #000000; /* Глубокий черный, как тушь */
    color: #d1d1d1;            /* Светло-серый текст (не чисто белый) */
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 11px;
    border: 1px solid #333333; /* Едва заметная серая рамка всего окна */
}

/* Элементы списка */
#entry {
    padding: 10px;
    margin: 4px 8px;
    border: 2px solid transparent; /* Заранее резервируем место под рамку */
}

#entry:selected {
    border: 1px solid #ffffff; /* Тонкая белая линия */
    background-color: rgba(255, 255, 255, 0.05); /* Почти незаметный отсвет внутри */
    border-radius: 4px; /* Совсем легкое скругление под стать архитектуре храма */
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.2); /* Мягкое белое свечение */
}

/* Текст выделенного пункта */
#entry:selected #text {
    color: #ffffff;      /* Текст становится ярко-красным при наведении */
    font-weight: bold;
}

/* В style.css */
#entry:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.02);
}

/* Поле поиска */
#input {
    background-color: #111111;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #ffffff; /* Красная линия снизу для поиска */
    margin: 10px;
}

#inner-box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Ровно два столбца */
    gap: 10px;
    padding: 10px;
}

#text {
    /* Чтобы текст внутри плитки выглядел аккуратно */
    margin: 0;
}


#scroll {
    border: none;
}

#viewport {
    border: none;
}

/* Скрыть скроллбар */
scrollbar {
    opacity: 0;
}


#img {
    margin-right: 15px; /* Расстояние между иконкой и текстом */
    opacity: 0.8;       /* Сделаем чуть тусклее, чтобы не отвлекали */
}

#entry:selected #img {
    opacity: 1.0;       /* При наведении иконка становится яркой */
}
